@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.corpo {
    width: 1000px;

    margin: auto;

}

.cabecalho {
    text-align: center;
    background-image: url('img/Rectangle\ 1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo {

    font-family: 'Cookie', cursive;
    font-size: 60px;
    line-height: 40px;
    color: #6b705b;
}

.titulo2 {
    font-size: 40px;
}

.menu {
    background-color: #6b705b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto';
    color: #FFE8D6;
}

.item-menu {
    color: #FFE8D6;
}

.banner {
    height: 500px;
}

.banner img {
    height: 500px;
    border-bottom: 3px solid #6B705B;
    width: 100%;
}

.title-cardapio,
.titulo-galeria,
.titulo-contato {
    margin-top: 50px;
    font-family: 'Cookie';
    font-weight: normal;
    font-size: 45px;
    color: #CB997E;
    text-align: center;
}

.lista-cardapio {
    column-count: 4;
    padding: 68px;
    font-family: 'Roboto';
    color: #6B705B;
    list-style: none;
}

.galeria-foto {
    background-color: #6b705c;
    padding-top: 5px;
    padding-bottom: 50px;

    
}

.titulo-galeria {

    color: #CB997E;
    padding-bottom: 20px;
    
}

.linha-fotos {
    display: flex     ;
    justify-content: space-evenly;
}

.foto-bolo {
    border: 5px solid #CB997E;
    border-radius: 3px;
    transition: all 2s ease;
}

.foto-bolo:hover {
    border-color: red;
    cursor: crosshair;
    transform: scale(1.1);

}

.mapa{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}